body {
  margin:0;
  color: #342b38;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color:rgba(17, 194, 164, 0.3);
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
 
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  width: 70%;
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
  
}
h2{
  color:midnightblue;
  text-align: center;
  font-size: 3rem;
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
}
.logo {
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20%;
}
.form-wrapper p {
  text-align: center;
}
.sign-up-social {
  display: flex;
  justify-self: center;
  justify-content: center;
}
.sign-up-social img {
  margin-right: 15px;
}
.sign-up-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 80%;
  text-transform: uppercase ;
  align-self: center;
  z-index: 10;
}
.sign-in-button, 
.sign-up-button {
  background-color:tomato;
  font-family: 'Staatliches', cursive;
  color: midnightblue;
  width: 200px;
  height: 50px;
  border: 2px solid tomato;
  border-radius: 0px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: 2rem;
  align-self: center;
}
form input[type="text"], input[type="email"], input[type="password"] {
  border: none;
  border-bottom: 2px solid #342b38;
  border-radius: 0;
  margin-bottom: 0.5em;
  padding: 0.85em 0.75em 0.75em 0.75em;
}

.overlay-section  {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
	justify-content: center;
	flex-direction: column;
  top: 0;
  z-index: 2;
  width: 50%;
  transition: transform 1s ease-in-out;
  transform: translateX(0%);
  margin: auto;

}

#sign-in-section {
  left: 50%;
  text-align: end;
  z-index: 0;
}
#sign-up-section {
  text-align: start;
}
.overlay-section button {
  color: midnightblue;
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: 2px solid midnightblue;
  font-family: 'Staatliches', cursive;
  border-radius:0px;
  font-size: 1.3rem; 
  text-transform: uppercase;
  margin-top: 2rem;
}
.overlay-section button:hover {
  color: #FFF;
  background-color: midnightblue;
  transition: 0.5s;
}

.form-wrapper {
  background-color: #FFF;
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  box-shadow: 10px 10px 55px grey;
  justify-content: center;
  transform: translateX(0%);
  transition: transform 1s ease-in-out; 

  z-index: 2;
}

.overlay-transform {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out; 
  
}
.sign-in-form-transform {
  transform: translateX(100%);
  transition: transform 1s ease-in-out; 
  z-index: 100;
  animation: sign-in-form-transform 0.3s;
}
.sign-up-form-transform {
  transform: translateX(100%);
  transition: transform 1s ease-in-out; 
}

/* The animation code */
@keyframes sign-in-form-transform {
  from { opacity: 0;  }
  to {opacity: 1; }
}

@keyframes sign-up-form-transform {
  from { z-index: 0}
  to {z-index: 20;}
}
.sign-up-form a {
  color: #000;
}

.sign-up-form span {
  display: none;
}

.error-msg{
  display: inline;
  background-color: red;
  padding:5px;
}
