$marineBlue:#00203FFF;
.cartList{
  list-style:none;
  display: flex;
  flex-direction: column;
  padding: 0 ;
  margin: 2rem;

  .itemInCart {
    border-bottom: 1px solid $marineBlue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .removeFromCartBtn{
      border: none;
      background-color: red;
      border-radius: 2px;
      color: #FFF;
      cursor: pointer;
      margin: 0;
      padding: 0.7rem;
      font-size: 1.2rem; 
      height: fit-content;
    }

    .itemInCartRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
      align-self: center;;
    }
  }
}

.amountToPay{
  margin:2rem;
  text-align: end;
  font-size: 1.6rem;
}