body  {
  margin: 0;
  font-family: "Open sans";
}
.App {
  position: relative;
  text-align: center;
}

.navigation {
  color: #FFF;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.navigation-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  opacity: 0.9;

}
.navigation-menu a  {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1.5rem;
  text-transform: uppercase;
}
.logo{
  width: 5rem;
  background-color: #fff;
  padding: 0 3rem;
  border-bottom: 2px solid #282c34;
}
main {
  margin: 1rem 3rem;
  position: relative;
  top: 6rem;
}

.introduction p{
    font-style: italic;
    
    text-align: center;
  }

.bookList {
  list-style:none;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 0 ;
  margin: 2rem;

li {
    width: 100%;
    min-height: 15rem;
    height: 280px; 
    display: flex;
   
    flex-direction: row;
   
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 0px 5px #282c34;
    
    img{
       width: auto;
       height: 100%;
       max-height: auto ;
     }
    div {
      width: 100%;

      h3{
      margin: 1rem;
      }
      }
    }
    .price{
      background-color: lightgreen;
      margin: 0;
      padding: 0.7rem;
      font-size: 1.2rem;      
      }
  }
